!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('home_page.site_name')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    // = image_tag("fftr_logo_main.png")
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
          %ul.nav.navbar-nav
            %li
              = link_to image_tag("fftr_logo_main.png"), root_url
            %li.active
              =link_to "Home", root_url
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
        / /.nav-collapse
    .container
      .starter-template
        = yield